In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.feature_selection import chi2, f_regression, f_classif, SelectKBest

features = pd.read_csv('../datasets/features_chi2.csv', header=0)
targets  = pd.read_csv('../datasets/targets_chi2.csv', header=0)

features.drop('Unnamed: 0', axis=1, inplace=True)
targets.drop('Unnamed: 0', axis=1, inplace=True)
features.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,0.211155,0.567481,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,0.75
1,0.212151,0.565356,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,0.75
2,0.210159,0.564293,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,0.75

In [46]:
chi2_stats, pvalues = chi2(features, targets)

In [47]:
f_values, p_values = chi2(features, targets)

In [48]:
print(f_values)
print(p_values)

[ 335.8813353   723.66220583  471.21865203  248.7497056   218.6322478
  112.02035416  214.83188191  927.9329072  1965.66330249]
[1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [50]:
columns = np.array(features.columns)

print(chi2_stats[np.argsort(chi2_stats)][::-1])
print(columns[np.argsort(chi2_stats)][::-1])

[1965.66330249  927.9329072   723.66220583  471.21865203  335.8813353
  248.7497056   218.6322478   214.83188191  112.02035416]
['ocean_proximity' 'median_income' 'latitude' 'housing_median_age'
 'longitude' 'total_rooms' 'total_bedrooms' 'households' 'population']

In [27]:
selector = SelectKBest(f_regression, k=6)
selector.fit_transform(features, targets)

supports = selector.get_support()
supports

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([False,  True,  True,  True, False, False,  True,  True,  True])